@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

// Variables
$white: rgb(244, 245, 255);
$dark-blue: rgb(4, 55, 242);
$light-blue: 	rgb(125, 249, 255);

$select-border: #777;
$select-focus: blue;
$select-arrow: $select-border;

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

// Typography
label {

    font-weight: 700;
    color: $dark-blue;

}

h2 {

    font-size: 2rem;

}

body {

    height: 100vh;
    background-image: url("cVR2Dv.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.input {

    border: none;
    text-align: right;
    padding: .5rem;
    margin-top: 1rem;
    background-color: transparent;
    border-bottom: 2px solid $white;

}

.btn {

    border: none;
    border-radius: 10px;
    padding: .5rem;
    width: 75%;
    align-self: center;
    background-color: $dark-blue;
    color: $white;
    font-weight: 700;
    cursor: pointer;

}

select {

    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    
  }