@include media-md {

    .wrapper {

        max-width: 90vw;
        height: 40vh;
        margin: 200px auto;
        justify-content: space-between;

    }

    .container__input {

        height: auto;

    }

    .container__bottom {

        flex-direction: row;
        height: auto;
        justify-content: space-evenly;

    }

    .container__row {

        align-items: flex-start;


    }

    .btn {

        align-self: flex-start;
        width: 30%;

    }

    .output {

        display: inline-block;
        text-align: right;

    }

}